body {
  background-color: #111; /* Fondo negro */
  color: #fff; /* Texto blanco */
  font-family: 'Press Start 2P', sans-serif; /* Fuente 'Press Start 2P' */
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #00ff00; /* Borde verde */
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.3); /* Sombra verde */
  background-color: #222; /* Fondo gris oscuro */
}

li:hover {
  background-color: #00ff00; /* Fondo verde al pasar el ratón */
  color: #000; /* Texto negro al pasar el ratón */
}

/* Personaliza las secciones */

#personal, #estudios, #experiencia, #idiomas, #skills, #tech {
  margin-bottom: 20px;
}

#personal h2 {
  text-align: center;
}

#personal ul li {
  text-align: left;
}

#estudios ul li {
  display: flex;
  justify-content: space-between;
}

#experiencia ul li {
  display: flex;
  flex-direction: column;
}

#idiomas ul li {
  display: flex;
  justify-content: space-between;
}

#skills ul li {
  display: flex;
  flex-wrap: wrap;
}

#tech ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#tech li {
  width: 200px; /* Ajustar ancho según sea necesario */
}

#personal:hover h2,
#estudios:hover h2,
#experiencia:hover h2,
#idiomas:hover h2,
#skills:hover h2,
#tech:hover h2 {
  color: #00ff00; /* Texto verde al pasar el ratón sobre la sección */
}

li:hover {
  background-color: #00ff00; /* Fondo verde al pasar el ratón */
  color: #000; /* Texto negro al pasar el ratón */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Brillo verde al pasar el ratón */
}

li:hover {
  background-color: #00ff00; /* Fondo verde al pasar el ratón */
  color: #000; /* Texto negro al pasar el ratón */
  transition: 0.3s ease-in-out; /* Animación suave */
}


li:hover {
  background-color: #00ff00; /* Fondo verde al pasar el ratón */
  color: #000; /* Texto negro al pasar el ratón */
  -webkit-animation: wave 0.5s ease-in-out infinite;
  animation: wave 0.5s ease-in-out infinite;
}


