*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    font-family: monospace;
    font-size: 20px;
}

a, a:visited, a:active{
    color: black;
}

img{
    width: 6cqw;
    height: auto;
}

main{
    font-size: 1.5cqw;
    /* width: 100%; */
    width: 80vw;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.titulo_seccion{
    background: black;
    color: white;
}

#tech ul{
    padding: 1cqw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



